 html, body {
    height: 100%;
    margin: 0;
   }
   .wrapper {
    min-height: 95%;
    /* Равно высоте подвала, */
    /* но с учётом margin-bottom у последнего дочернего элемента */
    margin-bottom: -50px;
   }

   .push {
    height: 50px;    
   }
   
   .footer{
    height: 50px;
   }
/*/////////////////////////////////////////////////////////для корректного тображения футера//////////////////////////////////////*/
.text-user_info{
text-align: center;
color: #333333;
}

/*///////////////////////////////////Это стили для корректного отображения подсказки при наборе улицы///////////////////////////////*/

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.ac_results li {
    position:relative;
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}

    .ui-autocomplete {
        /*background: #edfeff;*/
        background: #f8f9fa;
        border-radius: 0px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .ui-autocomplete-input {
        background: #FFFFFF;
        border-radius: 0px;   
    }


    .ui-menu-item div.ui-state-active{
        background: #0066A4; /*#007373;*/
        border: #4a4a4a 1px solid;
        /*border: 1px solid #ced4da;*/
    }


/*///////////////////////////////////Это стили для корректного отображения подсказки при наборе улицы///////////////////////////////*/



/*////////////////////////////////////////////бутстрап дататаймпикер/////////////////////////////*/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 120px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/*/////////////////////////////////////////стрелки вверх и вниз в дататаймпикере/////////////////////////////*/

.glyphicon-chevron-up:before {
  content: "\e0a0";
}
.glyphicon-chevron-down:before {
  content: "\e0a1";
}

/*/////////////////////////////////////////стрелки вверх и вниз в дататаймпикере/////////////////////////////*/

/*////////////////////////////////////////////бутстрап дататаймпикер/////////////////////////////*/

/*////////////////////////////////////////////информационное сообщение/////////////////////////////*/




/*////////////////////////////////////////////информационное сообщение/////////////////////////////*/

/*/////////////////////////////////////////прелоадер //////////////////////////////*/
/*.loader077 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: loader-circles 1s linear infinite;
    top: 50%;
    margin: -8px auto 0 auto;
}*/
.container-fluid{
  max-width: 60%;     
}

.loader {
 margin-left: 300px;   
 margin-top: 10px;
 font-size: 10px;
 color: #0066A4;
 width: 4em;
 height: 4em;

}

.switch_face{
 margin-top: 20px;   
 margin-left: 20px;   
}

/*.time-text{
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 0.97rem; color:#333333; font-weight: normal; text-decoration: none; text-align: center;
}  */  
    


/*.loader {
  color: #65abf8;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}*/
/*.loader {
  color: #65abf8;
  font-size: 7px;
  margin: 5px auto;
  margin-top: 10px;
  margin-left: 450px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}*/
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}





.loader_fias {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #65abf8, 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.5), -1.8em -1.8em 0 0em rgba(101,171,248, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.7), 1.8em -1.8em 0 0em #65abf8, 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.5), 1.8em -1.8em 0 0em rgba(101,171,248, 0.7), 2.5em 0em 0 0em #65abf8, 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.5), 2.5em 0em 0 0em rgba(101,171,248, 0.7), 1.75em 1.75em 0 0em #65abf8, 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.5), 1.75em 1.75em 0 0em rgba(101,171,248, 0.7), 0em 2.5em 0 0em #65abf8, -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.5), 0em 2.5em 0 0em rgba(101,171,248, 0.7), -1.8em 1.8em 0 0em #65abf8, -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.5), -1.8em 1.8em 0 0em rgba(101,171,248, 0.7), -2.6em 0em 0 0em #65abf8, -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.5), -2.6em 0em 0 0em rgba(101,171,248, 0.7), -1.8em -1.8em 0 0em #65abf8;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #65abf8, 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.5), -1.8em -1.8em 0 0em rgba(101,171,248, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.7), 1.8em -1.8em 0 0em #65abf8, 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.5), 1.8em -1.8em 0 0em rgba(101,171,248, 0.7), 2.5em 0em 0 0em #65abf8, 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.5), 2.5em 0em 0 0em rgba(101,171,248, 0.7), 1.75em 1.75em 0 0em #65abf8, 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.5), 1.75em 1.75em 0 0em rgba(101,171,248, 0.7), 0em 2.5em 0 0em #65abf8, -1.8em 1.8em 0 0em rgba(101,171,248, 0.2), -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.5), 0em 2.5em 0 0em rgba(101,171,248, 0.7), -1.8em 1.8em 0 0em #65abf8, -2.6em 0em 0 0em rgba(101,171,248, 0.2), -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.5), -1.8em 1.8em 0 0em rgba(101,171,248, 0.7), -2.6em 0em 0 0em #65abf8, -1.8em -1.8em 0 0em rgba(101,171,248, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(101,171,248, 0.2), 1.8em -1.8em 0 0em rgba(101,171,248, 0.2), 2.5em 0em 0 0em rgba(101,171,248, 0.2), 1.75em 1.75em 0 0em rgba(101,171,248, 0.2), 0em 2.5em 0 0em rgba(101,171,248, 0.2), -1.8em 1.8em 0 0em rgba(101,171,248, 0.5), -2.6em 0em 0 0em rgba(101,171,248, 0.7), -1.8em -1.8em 0 0em #65abf8;
  }
}

/*/////////////////////////////////////////прелоадер всё//////////////////////////////*/

.table th, .table td {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table.dataTable, table.dataTable th, table.dataTable td {
  /*box-sizing: content-box; */ 
   box-sizing: border-box; 
}
 tr.odd,  tr.even {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", serif; font-size: 0.85rem; color:#333333; font-weight: normal; text-decoration: none; text-align: center;
}
.zag      {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", serif; font-size: 0.75rem; color:#333333; font-weight: bold; text-decoration: none; text-align: center; }

td.inside      {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", serif; font-size: 0.75rem; color:#333333; font-weight: normal; text-decoration: none; text-align: center; }

.form_label      {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1.0rem; color:#333333; font-weight: normal; text-decoration: none; text-align: left; background-color: ; }

td.col-view      {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 0.75rem; color:#333333; font-weight: normal; text-decoration: none; text-align: center; display: none; }

th.col-view_zag      {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 0.75rem; color:#333333; font-weight: bold; text-decoration: none; text-align: center; display: none; }
.z {
    color: #333333;
    font-weight: bold;    
}
.small_start_red  { font-family:Times New Roman, serif; font-size: 13px; color:#CC3333; font-weight: normal; text-decoration: none; text-align: center;}

.navbar {
    margin-bottom: 0px;
}
.alert {
    margin-bottom: 0px;
}
.navbar-text{
 color:#0066A4; 
 font-size: 1.0rem;
 text-decoration:none;
 font-weight: normal;   
}
.navbar-nav .nav-link{
 color:#0066A4;    
}
.navbar-nav:active .nav-link:active .nav-link:focus{
 color:#AAAAAA;    
}

.forblock {
    /*font-family: Times New Roman,serif;*/
    font-size: 15px;
/*font-variant: small-caps;*/
    color: #212529;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    /*margin-right: 5px;*/
}

.row_menu{
    display: block;
    width: 100%;
    height: calc(2.6em + 0.75rem + 2px);
    padding: 0.275rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
   /* background-color: #fff;*/
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.radio_pad{
  padding-left: 20px;
  color: #495057;
  /*background-color: #fff;*/
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;    
}

.radio_pad_row{
    padding-left: 20px; 
    margin-top: 5.3%;
    color: #495057;
    /*background-color: #fff;*/
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}



@media all and (min-width: 168px) and (max-width: 1200px) {
     
td.col-view, td.col-view_zag      { 
    display: none; 
}
}


@media all and (min-width: 1200px) and (max-width: 1650px) {
.container-fluid{
  max-width: 100%;    
}
}
/*@media (min-width: 768px) and (max-width: 991px){*/


 @media all and (min-width: 991px) and (max-width: 1200px) {
     
.loader {
  font-size: 6px;  
  margin-top: 20px;
  margin-left: 300px;  
}
.container-fluid{
  max-width: 100%;    
}

}

 @media all and (min-width: 767px) and (max-width: 991px) {
     
.loader {
  font-size: 5px;  
  margin-top: 20px;
  margin-left: 50px;  
}
.container-fluid{
  max-width: 100%;    
}
}


 @media all and (min-width: 575px) and (max-width: 767px) {
     
.loader {
  font-size: 4px;  
  margin-top: 25px;
  margin-left: 5px;  
}
.container-fluid{
  max-width: 100%;    
}
}

 @media all and (min-width: 250px) and (max-width: 575px) {
     
.loader {
  font-size: 4px;  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;  
}
.container-fluid{
  max-width: 100%;    
}
}
/*.glyphicon-time:before {
  content: "\e023";
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }*/